{% extends "components/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-12 px-md-4 main-content">
        <!-- mensajes de error del formulario -->
        {% include 'includes/message_error_form.html' %}
        <!-- Formulario de doctor -->
        <form method="post" enctype="multipart/form-data" class="py-4">
            {% csrf_token %}  
            <div class="card shadow p-4">
                <h3 class="text-primary-emphasis mb-4 fw-bold">{{ title1 }}</h3>
                <div class="row g-0">
                    <!-- Columna para imagen y campos -->
                    <div class="col-lg-4 text-center">
                        <div id="imagenPreview" class="mb-4">
                            {% if form.foto.value %}
                            <img id="imagenSeleccionada" src="{{ form.foto.value.url }}" class="rounded img-fluid" alt="Foto del doctor">
                            {% else %}
                            <img id="imagenSeleccionada" src="{% static 'img/empty.png' %}" class="rounded img-fluid" alt="Foto por defecto">
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.foto.id_for_label }}" class="form-label fw-bold">{{ form.foto.label }}</label>
                            {{ form.foto }}
                        </div>
                    </div>
                    
                    <!-- Columna para los campos del formulario -->
                    <div class="col-lg-8 px-2">
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.nombres.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-user me-2"></i>{{ form.nombres.label }}
                                </label>
                                {{ form.nombres }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.apellidos.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-user me-2"></i>{{ form.apellidos.label }}
                                </label>
                                {{ form.apellidos }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.cedula.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-id-card me-2"></i>{{ form.cedula.label }}
                                </label>
                                {{ form.cedula }}
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <label for="{{ form.especialidad.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-stethoscope me-2"></i>{{ form.especialidad.label }}
                                </label>
                                {{ form.especialidad }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.telefonos.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-phone me-2"></i>{{ form.telefonos.label }}
                                </label>
                                {{ form.telefonos }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.email.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-envelope me-2"></i>{{ form.email.label }}
                                </label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger small">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.direccion.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-map-marker-alt me-2"></i>{{ form.direccion.label }}
                                </label>
                                {{ form.direccion }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.fecha_nacimiento.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-calendar-alt me-2"></i>{{ form.fecha_nacimiento.label }}
                                </label>
                                {{ form.fecha_nacimiento }}
                                {% if form.fecha_nacimiento.errors %}
                                    <div class="text-danger small">{{ form.fecha_nacimiento.errors }}</div>
                                {% endif %}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.codigoUnicoDoctor.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-hashtag me-2"></i>{{ form.codigoUnicoDoctor.label }}
                                </label>
                                {{ form.codigoUnicoDoctor }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.activo.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-toggle-on me-2"></i>{{ form.activo.label }}
                                </label>
                                {{ form.activo }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.latitud.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-map-marker-alt me-2"></i>{{ form.latitud.label }}
                                </label>
                                {{ form.latitud }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.longitud.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-map-marker-alt me-2"></i>{{ form.longitud.label }}
                                </label>
                                {{ form.longitud }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.horario_atencion.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-clock me-2"></i>{{ form.horario_atencion.label }}
                                </label>
                                {{ form.horario_atencion }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.curriculum.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-file-alt me-2"></i>{{ form.curriculum.label }}
                                </label>
                                {{ form.curriculum }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.firmaDigital.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-pen-signature me-2"></i>{{ form.firmaDigital.label }}
                                </label>
                                {{ form.firmaDigital }}
                            </div>
                            
                            <div class="col-md-6 mb-4">
                                <label for="{{ form.imagen_receta.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-file-image me-2"></i>{{ form.imagen_receta.label }}
                                </label>
                                {{ form.imagen_receta }}
                            </div>
                            
                            <!-- Campo Select Multiple para Especialidades -->
                            <div class="col-md-12 mb-4">
                                <label for="{{ form.especialidades.id_for_label }}" class="form-label fw-bold">
                                    <i class="fas fa-list me-2"></i>{{ form.especialidades.label }}
                                </label>
                                {{ form.especialidades }}
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-12 mb-4">
                        <label for="mapa" class="form-label fw-bold">Ubicación del Consultorio</label>
                        <div id="mapa" style="height: 300px;"></div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>
        // Función para previsualizar la imagen antes de enviarla
    const fotoInput = document.querySelector('#{{ form.foto.id_for_label }}');
    const imagenSeleccionada = document.getElementById('imagenSeleccionada');

    fotoInput.addEventListener('change', (e) => {
        const file = e.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (event) => {
                imagenSeleccionada.src = event.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            imagenSeleccionada.src = "{% static 'img/empty.png' %}";
        }
    });
    const mapa = L.map('mapa').setView([0, 0], 2);  // Inicializa el mapa centrado en coordenadas 0,0

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(mapa);

    // Función para marcar la ubicación
    function agregarMarcador(lat, lon) {
        L.marker([lat, lon]).addTo(mapa)
            .bindPopup('Consultorio')
            .openPopup();
    }

    // Actualización de marcador cuando cambian las coordenadas
    document.getElementById('id_latitud').addEventListener('change', function () {
        const lat = parseFloat(this.value);
        const lon = parseFloat(document.getElementById('id_longitud').value);
        mapa.setView([lat, lon], 15);
        agregarMarcador(lat, lon);
    });

    document.getElementById('id_longitud').addEventListener('change', function () {
        const lon = parseFloat(this.value);
        const lat = parseFloat(document.getElementById('id_latitud').value);
        mapa.setView([lat, lon], 15);
        agregarMarcador(lat, lon);
    });
</script>
{% endblock %}



