{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    {{ title1 }}
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                {{ title2 }}
            </h1>
            <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
                Visualice su información.
            </p>
        </div>
        <div class="flex flex-col items-center justify-center mx-4 lg:mx-20" data-aos="fade">
            <!-- Sección del perfil y cambio de contraseña centrada -->
            <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8 w-full max-w-2xl" data-aos="fade-right" data-aos-delay="200">
                <div class="w-full text-center mb-8">
                    <h2 class="dark:text-blue-300 text-2xl text-center mt-6 font-Pacifico">Imagen de Perfil</h2><br>
                    <div id="imagenPreview">
                        {% if user.get_image %}
                            <img src="{{ user.get_image }}" class="mx-auto d-block rounded-lg" alt="Foto de perfil">
                        {% else %}
                            <img src="{% static 'img/default_person.png' %}" class="mx-auto d-block rounded-lg" alt="Foto de perfil por defecto">
                        {% endif %}
                    </div>
                </div>
                <div class="w-full text-center mb-8">
                    <p class="dark:text-gray-400"><span class="dark:text-blue-300 font-black uppercase text-2xl">Usuario:</span><br>{{ user.username }}
                        {% if user.is_superuser %}
                            <span class="dark:text-green-300 font-black font-Tiny5 uppercase text-2xl text-green-500"> | Administrador</span>
                        {% endif %}
                    </p>
                </div>
                <div class="w-full p-4 rounded-3xl dark:bg-secundario bg-white flex flex-col justify-center items-center" data-aos="fade-right" data-aos-delay="200">
                    <section class="w-full p-4 my-4 mx-auto max-w-xl rounded-3xl bg-white dark:bg-secundario" data-aos="fade-up" data-aos-delay="200">
                        <h1 class="text-4xl text-center font-Pacifico dark:text-blue-300 my-2">
                            {{ title2 }}
                        </h1>
                        {% if messages %}
                            <div class="text-center mb-4">
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="flex justify-center items-center">
                            <form method="POST" enctype="multipart/form-data" class="w-full">
                                {% csrf_token %}
                                <div class="mb-5 relative">
                                    <label for="id_old_password" class="dark:text-blue-300 font-black uppercase text-lg z-20">Contraseña Actual</label>
                                    <div class="input-group">
                                        <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                                            <i class="text-blue-400 fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_old_password" name="old_password" value="{{ form.old_password.value }}">
                                        <span class="absolute inset-y-0 right-0 flex items-center pr-3 top-6">
                                            <button class="btn btn-outline-secondary p-2" type="button" id="toggleOldPassword">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-5 relative">
                                    <label for="id_new_password1" class="dark:text-blue-300 font-black uppercase text-lg z-20">Nueva Contraseña</label>
                                    <div class="input-group">
                                        <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                                            <i class="text-blue-400 fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_new_password1" name="new_password1" value="{{ form.new_password1.value }}">
                                        <span class="absolute inset-y-0 right-0 flex items-center pr-3 top-6">
                                            <button class="btn btn-outline-secondary p-2" type="button" id="toggleNewPassword1">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-5 relative">
                                    <label for="id_new_password2" class="dark:text-blue-300 font-black uppercase text-lg z-20">Confirmar Nueva Contraseña</label>
                                    <div class="input-group">
                                        <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                                            <i class="text-blue-400 fa-solid fa-lock"></i>
                                        </span>
                                        <input type="password" class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" id="id_new_password2" name="new_password2" value="{{ form.new_password2.value }}">
                                        <span class="absolute inset-y-0 right-0 flex items-center pr-3 top-6">
                                            <button class="btn btn-outline-secondary p-2" type="button" id="toggleNewPassword2">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="mb-5 relative">
                                    <label for="validation_code" class="dark:text-blue-300 font-black uppercase text-lg z-20">Código de Validación</label>
                                    <input type="text" id="validation_code" name="validation_code" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ request.POST.validation_code }}">
                                </div>
                                {% if not code_sent %}
                                    <button type="submit" name="request_code" class="w-full p-2.5 mt-4 rounded-md text-white bg-blue-600">Solicitar Código</button>
                                {% endif %}
                                <button type="submit" name="change_password" class="w-full p-2.5 mt-4 rounded-md text-white bg-blue-600">Cambiar Contraseña</button>
                            </form>
                        </div>
                        <p class="dark:text-gray-400 text-center mt-3 z-10">¿No quieres cambiar tu contraseña? <a href="{% url 'home' %}" class="text-blue-600 hover:underline dark:text-blue-300 font-Tiny5 uppercase">Volver al inicio</a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("toggleOldPassword").addEventListener("click", function () {
        togglePasswordVisibility("id_old_password", "toggleOldPassword");
    });

    document.getElementById("toggleNewPassword1").addEventListener("click", function () {
        togglePasswordVisibility("id_new_password1", "toggleNewPassword1");
    });

    document.getElementById("toggleNewPassword2").addEventListener("click", function () {
        togglePasswordVisibility("id_new_password2", "toggleNewPassword2");
    });

    function togglePasswordVisibility(passwordFieldId, toggleButtonId) {
        var passwordInput = document.getElementById(passwordFieldId);
        var icon = document.getElementById(toggleButtonId).querySelector("i");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>
{% endblock content %}
