{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<title>{% block title %} Validar Cambio de Contraseña {% endblock title %}</title>
<section class="dark:bg-principal mt-20">
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    Validar Cambio de Contraseña
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                Introduce el código de validación
            </h1>
            <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
                Hemos enviado un código de validación a tu correo electrónico.
            </p>
        </div>
        <div class="flex flex-col items-center justify-center mx-4 lg:mx-20" data-aos="fade">
            <div class="bg-white dark:bg-secundario rounded-3xl flex flex-col justify-center items-center p-8 w-full max-w-2xl" data-aos="fade-right" data-aos-delay="200">
                <form method="POST" class="w-full">
                    {% csrf_token %}
                    <div class="mb-5 relative">
                        <label for="code" class="dark:text-blue-300 font-black uppercase text-lg z-20">Código de Validación</label>
                        <div class="input-group">
                            <span class="absolute inset-y-0 left-0 flex items-center pl-3 top-6">
                                <i class="text-blue-400 fa-solid fa-key"></i>
                            </span>
                            <input type="text" name="code" id="code" class="pl-10 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        </div>
                    </div>
                    <div class="flex flex-col items-center text-center mb-5">
                        <button type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-2 flex items-center">
                            Validar Código
                        </button>
                    </div>
                </form>
                <p class="dark:text-gray-400 text-center mt-3 z-10">¿No recibiste el código? <a href="{% url 'change_password' %}" class="text-blue-600 hover:underline dark:text-blue-300 font-Tiny5 uppercase">Reenviar Código</a></p>
            </div>
        </div>
    </div>
</section>
{% block navbar %}
{% endblock navbar %}
{% endblock content %}
