{% extends 'components/base.html' %}
{% block content %}
    {% load static %}
    <style>
        /* Modal base */
        .modall {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* Contenido del modal */
        .modal-contentt {
            border: 2px solid #3B3BBA;
            background-color: #fff;
            margin: 15% auto;
            padding: 20px;
            border-radius: 8px;
            width: 50%;
            text-align: center;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12 px-md-4 main-content">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="card-title mb-0 text-primary-emphasis fw-bold">{{ title1 }}</h3>
                        </div>
                        <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between g-3 mb-4">
                            <form method="GET" action="{% url 'security:module_list' %}">
                                <input type="text" name="q" id="table-search"
                                       class="form-control search-box"
                                       autocomplete="off"
                                       placeholder="Búscar módulo" value="{{ request.GET.q }}">
                            </form>
                            {% if permissions.add_module %}
                                <a class="btn btn-primary mt-3 mt-md-0" href="{% url 'security:module_create' %}"
                                   style="background-color: #3B3BBA; color: white">
                                    <i class="fas fa-plus fa-lg me-2"></i>{{ title2 }}
                                </a>
                            {% endif %}
                        </div>

                        <!-- Tabla Content -->
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead class="table-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Url</th>
                                    <th>Icono</th>
                                    <th>Módulo</th>
                                    <th>Permisos</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in modules %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td><a href="http://127.0.0.1:8956{{ item.url }}" title="{{ item.url }}" target="_blank"><i
                                                class="fa-solid fa-link fa-lg"></i></a></td>
                                        <td><i class="{{ item.icon }} fa-lg"></i></td>
                                        <td>{{ item.name }}</td>
                                        <td>
                                            {% if item.get_permissions_display != "No tiene permisos asignados" %}
                                                <i class="fa-brands fa-product-hunt fa-lg" style="cursor: pointer"
                                                   onclick="openModal('{{ item.get_permissions_display }}')"></i>
                                            {% else %}
                                                {{ item.get_permissions_display }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if item.is_active %}
                                                <i class="fa-solid fa-circle-check" style="color: #3cff3c;"></i>
                                            {% else %}
                                                <i class="fa-solid fa-circle-xmark" style="color: red;"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div>
                                                {% if permissions.change_module %}
                                                    <a href="{% url 'security:module_update' item.id %}"
                                                       class="btn btn-info btn-sm text-white" title="Editar">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                {% endif %}
                                                {% if item.has_related_objects_Modules %}
                                                    <button class="btn btn-danger btn-sm" disabled
                                                            onclick="relacionadoConsole()">
                                                        <i class="fa-solid fa-trash"
                                                           title="No se puede eliminar Menú Relacionado."></i>
                                                    </button>
                                                {% else %}
                                                    {% if permissions.delete_module %}
                                                        {% with id=item.id name=item.name msg="¿Está seguro de eliminar este Módulo?" %}
                                                            <button class="btn btn-danger btn-sm"
                                                                    onclick="confirmDelete('{{ id }}','{{ name }}','{{ msg|escapejs }}');">
                                                                <i class="fa-solid fa-trash"></i></button>
                                                        {% endwith %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Confirmación -->
    <div class="modall" id="confirmDeleteModal">
        <div class="modal-contentt">
            <p id="modalMessage"></p>
            <form method="POST" id="deleteForm">
                {% csrf_token %}
                <div id="Description" class="my-2"></div>
                <button type="button" class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
    </div>

    <!-- Scripts -->
    <script>
        function confirmDelete(id, name, msg) {
            document.getElementById('modalMessage').innerText = `${msg} ${name}`;
            const form = document.getElementById('deleteForm');
            form.action = "{% url 'security:module_delete' 999 %}".replace('999', id);
            document.getElementById('Description').textContent = `ID: ${id} - ${name}`;
            document.getElementById('confirmDeleteModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('confirmDeleteModal').style.display = 'none';
        }

        function openModal(permissions) {
            const modal = document.getElementById('permissionsModal');
            const list = document.getElementById('permissionsList');

            list.innerHTML = ''; // Limpiar permisos previos
            permissions.split(',').forEach(permission => {
                const li = document.createElement('li');
                li.textContent = permission.trim();
                list.appendChild(li);
            });

            modal.style.display = 'block';
        }

        window.onclick = function (event) {
            const modal = document.getElementById('permissionsModal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        }
    </script>
{% endblock %}



